
html, body, div, span, h1, h2, h3, h4, h5, h6, p, form, ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul, li {
	/* list-style: none; */
	margin: 0;
	padding: 0.5em;
}

a img {
   border: none
}

html {
	width: 100%;
	height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif; 
	font-size: 11pt;
	color: #575757;
	margin: 3em 0 1px; height: 100%; 
	line-height: 1.5;
}

p {
	margin-top: 3px;
}
	
a, p a {
	text-decoration: underline;
}
	
a: hover {
}

a.media {
  color: #666666;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
	position: relative;
}

h1 {
	font-size: 2.3em;
	line-height: 1.2;
	color: #666666;
	text-align: left;
	margin-bottom: 5px;
	padding-bottom: 15px;
	letter-spacing: 0.5px;
}

 h1 span {
	font-size: 25px;
	line-height: 12px;
	color: #666666;
	margin-left: 10px;
}

h2 {
	font-size: 24px;
	letter-spacing: 0.5px;
	line-height: 0.9;
	color: #575757;
	text-align: left;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 1em;
}
	
h3 {
	font-size: 20px;
	color: #575757;
	text-align: left;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h4 {
	font-size: 14px;
	line-height: 0.9;
	color: #CC3333;
	text-align: left;
	margin-bottom: 8px;
	padding-top: 3px;
}

/* styles for individual elements on page */

#container {
	width: 900px; 
	margin: 0 auto;
}

#news_accordion {
	margin: 0 auto;
	margin: -2em 0 2em 0; 
	color: green;
}

#news_accordion div {
	padding: 1.5em 0 1.5em;
	text-align: center;
	font-size: 18px;
}

#summary #images {
	float: right; 
	width: 405px;
	padding-top: 80px;
	padding-bottom: 80px;
}

#summary #title { 
	float: center;
	width: 100%;
}

#summary #text {
	float: left; 
	width: 400px;
}

#summary li {
	margin-bottom: 0.8em;
}

#summary li:last-child {
	margin-bottom: 0;
}

#take_action h1 {
	padding-bottom: 0;
}

#take_action h3 {
	margin: 0;
}

#take_action #text {
	float: right; 
	margin-left: 2em;
	width: 450px;	
}

#take_action li {
	line-height: 1.2em; 
	margin-bottom: 0;
}

#take_action li:last-child {
	margin-bottom: 0;
}

.separator {
	clear: both; 
	padding-top: 3em;
	padding-bottom: 3em;
	width: 100%;
}

.separator hr { 
	border: 1px solid silver;
}

#submenu {
}

#submenu .item {
	float: left; 
	width: 200px;
	margin-left: 5px;
	margin-right: 5px;
}

#submenu .item p {
	font-size: small;
	height: 3.5em;
}

#submenu .item a.picture {

}

#submenu .item a.picture img {
	width: 200px;
	height: 140px;
}

.navigation {
	margin-bottom: 1em;
}

.navigation_separator {
	clear: both; 
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
}

.navigation_separator hr { 
	border: 1px solid silver;
}

section#intro h3 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#main_menu_link {
	color: #666666;
	text-decoration: none;
}

#main_menu_link:hover {
	text-decoration: underline;
}

#about_us h3 {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	font-size: 13pt;
}

#about_us ul {
	list-style-position: inside;
	padding-top: 0;
	padding-bottom: 0;
}

#about_us li {
	padding-bottom: 0.3em;
}

.letter_instructions {
	margin-bottom: 1em;
	font-style: italic;
}

#main_page_link {
	padding-bottom: 1em;
	float: left;
}
